body {
    background-color: #F0F8FF;
}

.grey-background {
    background-color:#708090;
    color: white;
}

.pad-2 {
    padding: 2em;
}

.about_me {
    padding-bottom: 0;
}

.grey-background a {
    color: white;
    text-decoration: underline;
}

.section {
    margin: 2em auto;
    text-align: left;    
}

.experience_container {
    width: 60%;
}

.technical_skills_container, .reference_container {
    width: 50%;
}

.honours_container {
    width: 40%;
    height: 7em;
}

.honours_links {
    padding-left: 0;
    padding-right: 0;
    margin-top: 5%;
}

.image_container {
    padding-right: 0;
}

.header {
    padding-top: 1em;
}

ul.skills, ul.reference {
   list-style-type: circle;
}

.image {
    position: relative;
    float: left;
    margin-right: 1em;
}

.image, .contact_image {
    width: 10em;
}

#sfu {
    float: right;
}

.profile-image {
    float: right;
}

@media only screen and (max-width: 950px) {
    .profile-image {
        float: none;
    }
    .honours_container {
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {
    .image_container {
        text-align: center;
    }
    .image {
        float: none;
    }
}

@media only screen and (max-width: 800px) {
    .honours_links {
        text-align: center;
    }
    .honours_container {
        height: 11em;
    }
}

@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
    }
    .honours_container {
        height: 12em;
    }
}