#home_content {
    background:#F0F8FF;
    color: #008B8B;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 30em;
    opacity: 80%;
}

.banner .container {
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 50%; 
    text-align:left; 
    transform: translateY(-50%)
}

.about, .hangman_button {
    margin-top: 10em;
}

.alert, .images_container, .apps_description {
    width: 70%;
}

.container img {
    width: 100%;
    margin-right: 2em;
    margin-top: 2em;
}

.description {
    padding: 2em;
    width: 70%;
}

ul li {
    padding-top: 1.5em;
}

@media only screen and (max-width: 700px) {
    ul {
        padding: 0;
    }
    .hangman {
        width: 20em;
    }
}
