body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background-color:#ADD8E6;
    padding: 2em;
}

.footer_link {
    margin: 1em;
}

.profile-image {
    height: 10em;
    border-radius: 50%;
    float: right
}

@media only screen and (max-width: 900px) {
    .image {
        float: none;
    }
}

@media only screen and (max-width: 950px) {
    .profile-image {
        float: none;
    }
    .honours_container {
        width: 60%;
        height: 12em;
    }
}