body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background-color:#ADD8E6;
    padding: 2em;
}

.footer_link {
    margin: 1em;
}

.profile-image {
    height: 10em;
    border-radius: 50%;
}
