body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background-color:#ADD8E6;
    padding: 2em;
}

.footerLink {
    margin: 1em;
}

.profile-image {
    height: 10em;
    border-radius: 50%;
}

.icon {
    width: 2em;
    height: 2em;
}
